<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="..\static\index.css">
    <script src="..\static\jquery-3.2.1.min.js">
    </script>
</head>
<body>
    <div class="container">
        <div class="div1" >
            <h1>Navigation</h1>
            <hr/>
            <div name="homepage" class="left-1"><a href="#">主页</a></div>
            <div name="superindex" class="left-2"><a href="#">高级检索</a></div>
            <div name="all-cul" class="left-3"><a href="#">全部品种</a></div>
            <div name="login" class="left-4"><a href="#">登录</a></div>

        </div>

        <div class="div2">
            <div id="homepage" class="page-index hide">
                <div class="head-por">
                </div>
                <div class="welcome">
                    <h1>请输入品种名称</h1>
                </div>
                <div class="inp-name">
                    <input class="search" type="text" >
                    <a href="" class="go-forward">
                    > 
                    </a>
                </div>
                
            </div>
            <div id="superindex" class="page-super hide">
                <div class="cul-name">
                <h1 >品种名</h1>
                </div>
                <table class="table-detailed">
                    <tr class="tr1">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr >
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    
                </table>
            </div>
            <div id="all-cul" class="page-all">
                <div class="page-all-head">
                    <h1>已收录品种数目</h1>
                </div>
                <table class="table-brief">
                    <thead>
                        <tr>
                            <th>item</th>
                            <th>item</th>
                            <th>item</th>
                            <th>item</th>
                            <th>item</th>
                            <th>item</th>
                        </tr>
                     </thead>
                    <tr class="tr1">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <tr class="tr1">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <tr class="tr1">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                    </tr>
                    <tr class="tr2">
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                        <th>dd
                        </th>
                   
                </table>
                <div class="pagination">
                    <a href="#">上一页</a>
                    <input type="text" value='1'>
                    <a href="#">下一页</a>
                    <a href="#">最后一页</a>
                </div>
            </div>
        </div>
    <div class="login hide">
        <div class="explain">
            <h1>仅管理员登录</h1>
        </div>
        <div class="log-box">
            <div class="username">
                <input type="text" placeholder="username" >
            </div>
            <div class="password">
                <input type="password" placeholder="password">
            </div>
            <div class="sign-in">
                <input type="button" value="登录">
                <input class="cancel" type="button" value="取消">
            </div>

        </div>
    </div> 



    </div>
   
    
    <script>
     
         
        $('.div1').children().each(function(){
        $(this).click(function(){
            $('#'+$(this).attr('name')).removeClass('hide');
            $(this).siblings().each(function(){
                $('#'+$(this).attr('name')).addClass('hide');
            })

        })                
    })
        
        $('.cancel').click(function(){
            $('.login').addClass('hide')
        })
        $('.left-4').click(function(){
            $('.login').removeClass('hide')
        })


        
    </script>
    
    
    
</body>    
</html>